* {
    background-color:rgb(32, 92, 112);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* width: 200px;*/
    overflow: hidden;
    background-color: none;
  }

  li {
    float:left;
  }
  
  li a {
    display: block;
    color: #000;
    background-color: gainsboro;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #b6cdd3;
    color: white;
  }

  main article{
    background-color: gainsboro;
  }

  body main {
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;

  }